@using StudentCourseRegistrationAssignment.Web.Resources
@model StudentCourseRegistrationAssignment.BLL.ViewModels.ForgetPasswordViewModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> Localizer
@{
    var currentCulture = ViewData["CurrentCulture"]?.ToString() ?? "en";
}

<div class="auth-card">
    <h4 class="text-center">@Localizer["ForgotPassword"]</h4>

    <form asp-action="ForgetPassword" method="post">
        <div class="mb-3">
            <label asp-for="Email">@Localizer["Email"]</label>
            <input asp-for="Email" class="form-control" placeholder="@Localizer["Email"]" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button class="btn btn-warning w-100">@Localizer["SendResetLink"]</button>
    </form>

  @*   <form method="post" asp-controller="Account" asp-action="ChangeLanguage" class="mt-2">
        <input type="hidden" name="culture" value='@(currentCulture == "ar" ? "en" : "ar")' />
        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
        <button type="submit" class="btn btn-sm btn-outline-secondary">
            @(currentCulture == "ar" ? "EN" : "AR")
        </button>
    </form> *@
</div>
