@using StudentCourseRegistrationAssignment.Web.Resources
@model StudentCourseRegistrationAssignment.BLL.ViewModels.ResetPasswordViewModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> Localizer
@{
    var currentCulture = ViewData["CurrentCulture"]?.ToString() ?? "en";
}

<div class="auth-card">
    <h4 class="text-center">@Localizer["ResetPassword"]</h4>

    <form asp-action="ResetPassword" method="post">
        <input asp-for="Token" type="hidden" />
        <input asp-for="Email" type="hidden" />

        <div class="mb-3">
            <label asp-for="Password">@Localizer["Password"]</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="@Localizer["Password"]" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword">@Localizer["ConfirmPassword"]</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="@Localizer["ConfirmPassword"]" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button class="btn btn-primary w-100">@Localizer["Reset"]</button>
    </form>

@*     <form method="post" asp-controller="Account" asp-action="ChangeLanguage" class="mt-2">
        <input type="hidden" name="culture" value='@(currentCulture == "ar" ? "en" : "ar")' />
        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
        <button type="submit" class="btn btn-sm btn-outline-secondary">
            @(currentCulture == "ar" ? "EN" : "AR")
        </button>
    </form> *@
</div>
